<div class='row'>
    <div class='col-md-6 col-md-offset-3'>
        <div class='well'>
            <h2>Login</h2>
            <hr>
             <%= form_tag '/login' do %>
            <label>SSO</label>
            <br>
            <%= text_field_tag :sso, nil, class: 'form-control' %>
        <br>
        <%= label_tag :password %>
        <br>
        
        <%= password_field_tag :password, nil, class: 'form-control' %>
        <br>
        <%= submit_tag 'Login', class: 'btn btn-success btn-block' %>
        <% end %>
        <br />
        <h4>Don't have an account? <%= link_to "Register Here!", new_user_path %></h4>
        </div>
    </div>
</div>